# Default — team reviews all feature code
*                               @RedHatInsights/experience-ui-committers

# Structural / architectural gatekeeping — broad blast radius
/.github/                       @CodyWMitchell @Bannermanj
/.tekton/                       @CodyWMitchell @Bannermanj
/.gitignore                     @CodyWMitchell @Bannermanj
/deploy/                        @CodyWMitchell @Bannermanj
/fec.config.js                  @CodyWMitchell @Bannermanj
/jest.config.js                 @CodyWMitchell @Bannermanj
/package.json                   @CodyWMitchell @Bannermanj
/package-lock.json              @CodyWMitchell @Bannermanj
/tsconfig.json                  @CodyWMitchell @Bannermanj
/renovate.json                  @CodyWMitchell @Bannermanj
