# yaml-language-server: $schema=https://raw.githubusercontent.com/RedHatInsights/frontend-components/refs/heads/master/packages/config-utils/src/feo/spec/frontend-crd.schema.json
---
apiVersion: v1
kind: Template
metadata:
  name: api-docs
objects:
  - apiVersion: cloud.redhat.com/v1alpha1
    kind: Frontend
    metadata:
      name: api-docs
    spec:
      envName: ${ENV_NAME}
      title: "API Frontend"
      feoConfigEnabled: true
      deploymentRepo: https://github.com/RedHatInsights/api-frontend
      API:
        versions:
          - v1
      frontend:
        paths:
          - /apps/api-docs
      image: ${IMAGE}:${IMAGE_TAG}
      module:
        manifestLocation: /apps/api-docs/fed-mods.json
        defaultDocumentTitle: API Documentation | Documentation
        modules:
          - id: api-docs
            module: ./RootApp
            routes:
              - pathname: /docs/api
              - pathname: /docs
      bundleSegments:
        - segmentId: api-docs
          bundleId: docs
          position: 100
          navItems:
            - id: apiDocumentation
              title: API Documentation
              href: "/docs/api"
        - segmentId: productDocumentation
          bundleId: docs
          position: 200
          navItems:
            - id: productDocumentation
              title: Product Documentation
              expandable: true
              routes:
                - title: Insights
                  id: insights
                  href: "/docs/product/insights"
                - title: Cost Management
                  id: costManagement
                  href: "/docs/product/cost-management"
parameters:
  - name: ENV_NAME
    required: true
  - name: IMAGE_TAG
    required: true
  - name: IMAGE
    value: quay.io/cloudservices/api-frontend

